# انسخي هذا الملف إلى .env.local
# هذه القيم عامة وآمنة للمتصفح (مفتاح publishable وليس مفتاح الخدمة السري)
NEXT_PUBLIC_SUPABASE_URL=https://dtsabxkepzjhzcpyqfnz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Mpek6mIe3yRHPgkjQslqmQ_byjFI6T4
